.idea/
*.iml
.DS_Store
Thumbs.db

.gradle/
build/
.kotlin/

local.properties

.externalNativeBuild/
.cxx/

*.jks
*.keystore
keystore.properties

*.apk
*.aab

app/release/
app/debug/

captures/
*.log

gradle/bin/
gradle/lib/
gradle/init.d/
gradle/LICENSE
gradle/NOTICE
gradle/README
gradle/gradle-daemon-jvm.properties